[user]
	name = Kamil Cukrowski
	email = kamilcukrowski@gmail.com
[pull]
	ff = only

[guitool "Open in eclipse"]
	cmd = eclipse $FILENAME
	noconsole = yes
	needsfile = yes
[guitool "Open in gvim"]
	cmd = gvim $FILENAME
	noconsole = yes
	needsfile = yes
[guitool "Remove trailing whitespaces"]
	cmd = sed -i -e 's/[[:space:]]*$//' $FILENAME
	noconsole = yes
	needsfile = yes
	confirm = yes
[guitool "Remove file"]
	cmd = rm $FILENAME
	needsfile = yes
	confirm = yes
[guitool "git checkout $REVISION -- $FILENAME"]
	cmd = git checkout $REVISION -- $FILENAME
	needsfile = yes
	confirm = yes

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld --auto-merge "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"


