[submodule "vim-gitgutter"]
	path = vim/ebundle/generic/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "tabular"]
	path = vim/ebundle/utils/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-fugitive"]
	path = vim/ebundle/integration/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-surround"]
	path = vim/ebundle/utils/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "syntastic"]
	path = vim/ebundle/lang/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/ebundle/utils/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/ebundle/utils/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/bundle/vim-airline"]
	path = vim/ebundle/my/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-pathogen"]
	path = vim/ebundle/pathogen/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-tips"]
	path = vim/ebundle/utils/vim-tips
	url = https://github.com/michaelb/vim-tips
[submodule "vim/bundle/vim-dispatch"]
	path = vim/ebundle/my/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/bundle/vim-repeat"]
	path = vim/ebundle/utils/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/ebundle/utils/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/vim-fswitch"]
	path = vim/ebundle/lang/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "vim/vim-eunuch"]
	path = vim/ebundle/utils/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/vim-easy-align"]
	path = vim/ebundle/utils/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/bundle/targets.vim"]
	path = vim/ebundle/generic/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/bundle/vim-table-mode"]
	path = vim/ebundle/utils/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "vim/bundle/vim-workspace"]
	path = vim/ebundle/zzz_utils/vim-workspace
	url = https://github.com/thaerkh/vim-workspace
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/ebundle/utils/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
[submodule "vim/bundle/vim-template"]
	path = vim/ebundle/utils/vim-template
	url = git@github.com:Kamilcuk/vim-template
[submodule "vim/bundle/papercolor-theme"]
	path = vim/ebundle/view/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/ebundle/view/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/FastFold"]
	path = vim/ebundle/generic/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "vim/bundle/vim-sensible"]
	path = vim/ebundle/generic/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/ack.vim"]
	path = vim/ebundle/utils/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/LargeFile"]
	path = vim/ebundle/generic/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule "vim/bundle/vim-scriptease"]
	path = vim/ebundle/utils/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "vim/bundle/golden-ratio"]
	path = vim/ebundle/utils/golden-ratio
	url = https://github.com/idbrii/golden-ratio
[submodule "vim/bundle/vim-one"]
	path = vim/ebundle/view/vim-one
	url = https://github.com/rakr/vim-one
[submodule "vim/bundle/vim-lucius"]
	path = vim/ebundle/view/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim/bundle/Lightning"]
	path = vim/ebundle/view/Lightning
	url = https://github.com/wimstefan/Lightning
[submodule "vim/ebundle/view/vim-github-colorscheme"]
	path = vim/ebundle/view/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme
[submodule "vim/ebundle/view/direwolf"]
	path = vim/ebundle/view/direwolf
	url = https://github.com/yankcrime/direwolf
[submodule "vim/ebundle/view/seoul256.vim"]
	path = vim/ebundle/view/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "vim/ebundle/integration/vim-rhubarb"]
	path = vim/ebundle/integration/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/ebundle/integration/fugitive-gitlab.vim"]
	path = vim/ebundle/integration/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "vim/ebundle/utils/vim-smooth-scroll"]
	path = vim/ebundle/utils/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule "vim/bundle/NrrwRgn"]
	path = vim/ebundle/utils/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim/bundle/bufexplorer"]
	path = vim/ebundle/utils/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "vim/bundle/hexmode"]
	path = vim/ebundle/utils/hexmode
	url = https://github.com/fidian/hexmode
[submodule "vim/bundle/nerdcommenter"]
	path = vim/ebundle/utils/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "vim/bundle/vim-boxdraw"]
	path = vim/ebundle/utils/vim-boxdraw
	url = https://github.com/gyim/vim-boxdraw
[submodule "vim/bundle/vim-mergetool"]
	path = vim/ebundle/utils/vim-mergetool
	url = https://github.com/samoshkin/vim-mergetool
[submodule "vim/ebundle/coc/coc.nvim"]
	path = vim/ebundle/lang/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/bundle/vim-lsp-cxx-highlight"]
	path = vim/ebundle/lang/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "vim/bundle/rainbow"]
	path = vim/ebundle/utils/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "vim/bundle/vim-ctrlp-commandline"]
	path = vim/ebundle/utils/vim-ctrlp-commandline
	url = https://github.com/suy/vim-ctrlp-commandline
[submodule "vim/bundle/showmarks"]
	path = vim/ebundle/my/showmarks
	url = https://github.com/xsunsmile/showmarks/
[submodule "vim/ebundle/my/vim-ctrlp-oldfiles"]
	path = vim/ebundle/my/vim-ctrlp-oldfiles
	url = git@github.com:Kamilcuk/vim-ctrlp-oldfiles.git
[submodule "vim/bundle/open-browser.vim"]
	path = vim/ebundle/utils/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule "vim/bundle/coc-fzf"]
	path = vim/ebundle/aaa_staging/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf
[submodule "vim/bundle/fzf.vim"]
	path = vim/ebundle/aaa_staging/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/vim-interactive-rebase-reverse"]
	path = vim/ebundle/aaa_staging/vim-interactive-rebase-reverse
	url = https://github.com/salcode/vim-interactive-rebase-reverse
[submodule "vim/bundle/spelunker.vim"]
	path = vim/ebundle/aaa_staging/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim
[submodule "vim/bundle/vimspector"]
	path = vim/ebundle/aaa_staging/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "vim/bundle/vim-hugefile"]
	path = vim/ebundle/aaa_staging/vim-hugefile
	url = https://github.com/mhinz/vim-hugefile
