[Unit]
Description=/etc/rc.local compatibility
ConditionPathExists=/etc/rc.local

[Service]
Type=forking
ExecStart=/usr/bin/sh /etc/rc.local
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
