[Unit]
Description=Run docker-compose start/stop and ignore stdout in %I
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
 
[Service]
Type=simple
WorkingDirectory=%I
ExecStartPre=/usr/bin/docker-compose start
ExecStart=/bin/bash -c 'exec docker wait $(docker-compose ps -q)'
ExecStop=/usr/bin/docker-compose stop
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=multi-user.target

