[Unit]
Description=Run docker-compose start/stop in %I
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
 
[Service]
Type=simple
WorkingDirectory=%I
ExecStart=/usr/bin/docker-compose start
ExecRestart=/usr/bin/docker-compose restart
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=multi-user.target

