[Unit]
Description=Mount /mnt/perunshare

[Mount]
What=share@perun.k.dyzio.pl:/share
Where=/mnt/perunshare
Type=sshfs
Options=_netdev,port=60022,allow_other,ServerAliveInterval=1,reconnect,StrictHostKeyChecking=accept-new,ServerAliveCountMax=2,BatchMode=yes
TimeoutSec=2s
LazyUnmount=true
ForceUnmount=true
ReadWriteOnly=true

[Install]
WantedBy=multi-user.target

