[Unit]
Description=Run backupbashhistory.sh
ConditionPathExists=/etc/backupbashhistory.sh.conf

[Service]
Type=oneshot
EnvironmentFile=/etc/backupbashhistory.sh.conf
ExecStart=/usr/bin/backupbashhistory.sh $args

