.include /usr/lib/systemd/system/getty@.service

[Unit]
Description=Dmesg output on %I
Documentation=man:dmesg(1)

[Service]
StandardOutput=tty
ExecStart=
ExecStart=/usr/bin/dmesg -wH
Environment=

[Install]
WantedBy=
WantedBy=multi-user.target
DefaultInstance=tty11

