[Unit]
Description = Run gitsbackup.sh
ConditionPathExists = /etc/gitsbackup.sh.conf

[Service]
Type = oneshot
EnvironmentFile = /etc/gitsbackup.sh.conf
ExecStart = /usr/bin/gitsbackup.sh $args
