[Unit]
Description=Run pacman-optimize

[Service]
Type=oneshot
ExecStartPre=/usr/bin/bash -c "yes Y | pacman -Sc"
ExecStart=/usr/bin/pacman-optimize 

[Install]
RequiredBy=multi-user.target

