# https://wiki.archlinux.org/index.php/QEMU#Starting_QEMU_virtual_machines_on_boot
[Unit]
Description=QEMU virtual machine

[Service]
Environment=type=system-x86_64
Environment=args=
Environment=haltcmd=kill -INT $MAINPID
Environment=monitor=/var/run/qemu-%i.monitor
EnvironmentFile=/etc/conf.d/qemu.d/%i
PIDFile=/tmp/%i.pid
ExecStart=/usr/bin/env qemu-${type} -name %i -nographic -pidfile /tmp/%i.pid -monitor unix:${monitor},server,nowait ${args}
ExecStop=/usr/bin/python /usr/lib/systemd/scripts/qemu-gracefully-shutdown-python.py -t 120 ${monitor}
TimeoutStopSec=30
KillMode=none

[Install]
WantedBy=multi-user.target

