[Unit]
Description=Run backupbashhistory.sh
ConditionPathExists=/etc/backupbashhistory.sh.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/backupbashhistory.sh %i

[Install]
WantedBy=multi-user.target


