[Unit]
Description = Daily qqrdiffbackup.sh@%I run

[Timer]
OnCalendar = Daily
AccuracySec = 1d
Persistent = true

[Install]
WantedBy = multi-user.target
