[Unit]
Description=Run qqremember
ConditionPathExists=/etc/qqremember.conf

[Service]
Type=oneshot
EnvironmentFile=/etc/qqremember.conf
ExecStart=/usr/bin/qqremember.sh $args

[Install]
WantedBy=multi-user.target
