[Unit]
Description=Kamil Cukrowski System shutdown actions
ConditionPathExists=/etc/rc-local/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=-/bin/sh -c 'for f in /etc/rc-local/*; do if [ -x "$f" ]; then echo %n executing "$f" "$@"; "$f" "$@"; fi; done;' -- shutdown
KillSignal=SIGINT
SyslogFacility=local7

[Install]
WantedBy=shutdown.target

