[Unit]
Description=Kamil Cukrowski System shutdown actions
ConditionPathExists=/etc/rc-local/
DefaultDependencies=no
After=rc-local-run-parts@boot.service basic.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/run-parts --verbose --regex='^[a-zA-Z0-9_\\.-]+$' --arg=shutdown /etc/rc-local
RemainAfterExit=yes
KillSignal=SIGINT
SyslogFacility=local7

[Install]
WantedBy=shutdown.target

