[Unit]
Description=Kamil Cukrowski Systemctl Failure Monitor for %i

[Service]
ExecStart=/usr/lib/kamil-scripts/systemctl-failure-monitor.sh %i

[Install]
WantedBy=multi-user.target

