[Unit]
Description=Dmesg output on %I
Documentation=man:dmesg(1)
ConditionPathExists=/dev/tty0

[Service]
StandardOutput=tty
ExecStart=/usr/bin/dmesg --follow --human
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
DefaultInstance=tty12
