[Unit]
Description=Run backupbashhistory.sh
ConditionPathExists=/etc/backupbashhistory.sh.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/qqbackuphistfile.sh %I

[Install]
WantedBy=multi-user.target


