[Unit]
Description=Run logwatch from systemd kamilscripts

[Service]
Type=oneshot
ExecStart=/usr/share/logwatch/scripts/logwatch.pl 

[Install]
WantedBy=multi-user.target
