[Unit]
Description=Run qqremember
ConditionPathExists=/usr/lib/kamilscripts/etc/qqremember.conf

[Service]
Type=oneshot
ExecStart=/usr/bin/qqremember.sh -c /usr/lib/kamilscripts/etc/qqremember.conf

[Install]
WantedBy=multi-user.target
