.include /usr/lib/systemd/system/getty@.service

[Unit]
Description=Systemd journal output on %I
Documentation=man:journalctl(8)

[Service]
StandardOutput=tty
ExecStart=
ExecStart=/usr/bin/journalctl -af -n1000
Environment=

[Install]
WantedBy=multi-user.target
DefaultInstance=
DefaultInstance=tty11

