[Unit]
Description=Kamil Cukrowski System boot actions
ConditionPathExists=/etc/rc-local/boot

[Service]
Type=oneshot
ExecStart=-/usr/bin/run-parts --verbose --regex='^[a-zA-Z0-9_\\.-]+$' --arg=boot /etc/rc-local/boot
RemainAfterExit=yes
KillSignal=SIGINT
SyslogFacility=local7


TimeoutSec=0

[Install]
WantedBy=multi-user.target

