[Unit]
Description=Kamil Cukrowski System suspend actions
ConditionPathExists=/etc/rc-local/suspend

[Service]
Type=oneshot
ExecStart=-/usr/bin/run-parts --verbose --regex='^[a-zA-Z0-9_\\.-]+$' --arg=suspend /etc/rc-local/suspend
RemainAfterExit=yes
KillSignal=SIGINT
SyslogFacility=local7

[Unit]
Before=sleep.target

[Install]
WantedBy=sleep.target

