[Unit]
Description=Kamil Cukrowski System resume actions
ConditionPathExists=/etc/rc-local/resume

After=suspend.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/run-parts --verbose --regex='^[a-zA-Z0-9_\\.-]+$' --arg=resume /etc/rc-local/resume
RemainAfterExit=yes
KillSignal=SIGINT
SyslogFacility=local7

[Install]
WantedBy=suspend.target

