[Desktop Entry]
Version=0.9.4
Type=Application
Name=kamilscripts
Comment=Run autostart scripts from kamilscripts
Exec=/bin/sh -c "exec \"\${XDG_CONFIG_HOME:-\$HOME/.config}\"/kamilscripts/kamilscripts/etc/autostart.sh desktopentry"
StartupNotify=false
Terminal=false
Hidden=false
