[Unit]
Description=Mumudvb on %I
After=network.target
ConditionPathExists=/dev/dvb/adapter%I
ConditionPathExists=/etc/mumudvb/mumudvb.%I.conf

[Service]
Type=simple
ExecStart=/usr/bin/mumudvb -d -c /etc/mumudvb/mumudvb.%I.conf
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target

