[Desktop Entry]
Version=0.9.4
Type=Application
Name=kamilscripts
Comment=Run autostart scripts from kamilscripts
Exec=bash -c '~/.config/kamilscripts/kamilscripts/etc/autostart.sh desktopentry'
StartupNotify=false
Terminal=false
Hidden=false
